body {
	background: #f9e933;
	
}

header, main, footer {
	min-width:855px;

}


header .container, main .container, footer .container {
	max-width:855px;
	margin: auto;

}

header {
	background: white;
	overflow:auto;
}
main {
	background:white;
	overflow:auto;
}

header h1 {
	float:left;
	width:570px;
}
header nav {
	float:right;
	width:285px;
}

.content {
	float:left;
	width:570px;
}
main img {
	float:right;
	width:285px;
}
.contact {
	float:left;
	width:570px;
}
.sitemap {
	
	float:right;
	width:285px;
}

.leftSitemap {
	float:left;
	width:142.5px;
}
.rightSitemap {
	float:right;
	width:142.5px;
}
h5 {
	font-size: 1.2em
}

main {
	background: white;
	
}
