body {
	background: #f9e933;
	/*font-family: 'Open Sans', sans-serif;*/
	
}

header, main, footer {
	min-width:855px;

}


header .container, main .container, footer .container {
	max-width:855px;
	margin: auto;

}

header {
	background: white;
	
	overflow:auto;
	padding-top:20px;
	padding-bottom: 50px;
}
main {
	background:white;
	overflow:auto;
}


header h1 {
	/*font-family: 'Ubuntu', sans-serif;*/
	font-size: 30pt;
	float:left;
	width:570px;
}
header nav {
	float:right;
	width:285px;
}

main h2 {
	font-family: 'Ubuntu', sans-serif;
	
}
main h3 {
	font-family: 'Ubuntu', sans-serif;
	
}

}
.image {
	float:right;
	width:285px;
}

.content {
	float:left;
	width:570px;
}

.contact {
	float:left;
	width:570px;
	padding-top:50px;
}
.address {
	padding-top:10px;
}
.sitemap {
	
	float:right;
	width:285px;
	padding-top:50px;
}

.leftSitemap {
	float:left;
	width:122px;
	padding-top:10px;
}
.rightSitemap {
	float:right;
	width:122px;
	padding:10px;
}
h5 {
	font-family: 'Ubuntu', sans-serif;
	
}

