body {
	background:lightcyan;
	width: 800px;
	margin: auto;
}

h1 {
	color: maroon;
	text-align:center;
}
p.first {
	color: gray;
	border: 1px solid gray;
	padding: 10px;
}
a {
	color: tomato;
}
a:visited {
	color:green;
}

.usp li:nth-child(2) {
	background: orange;
}
}